<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">가장 업데이트 된 프로필</h2>
                <hr class="light">
                <p class="text-faded">링크드인에 주기적으로 프로필을 업데이트 하고 있습니다. 보다 자세한 이력은 아래 링크에서 확인하실 수 있습니다.</p>
                <p class="text-faded">I regularly update my profile on Linkedin. You can click the link below and see the up-to-date profile.</p>
                <a href="#" class="btn btn-default btn-xl"> <i class="fa fa-4x fa-linkedin wow bounceIn text-primary" data-wow-delay=".1s"></i></a>
            </div>
        </div>
    </div>
</section>

fa fa-linkedin
