<header id = "header">
    <div class="header-content">
        <div class="header-content-inner">
            <h2 class="fw-bolder" style="color: darkgoldenrod">English Vocablary Learning Web App</h2>
            <h3 class="fw-bolder">Java Spring MVC<br>
                Database : Heidi SQL(Maria DB)</h3>
                <hr>
            <p>* 기능<br>
                1. Database : DB 입력, 저장, 불러오기<br>
                2. Security : 로그인, 회원가입</p>
            <p>* 구성<br>
                1. Main Page : Navigation bar  <br>
                2. Study : Youtube video, Writing Memo  <br>
                3. Memo : Memo list, Writing memo <br>
                4. Inquiry : Inquiry list, Writing inquiry <br></p>
        
            <a href="/about" class="btn btn-primary btn-xl page-scroll disabled">Link</a>
        </div>
    </div>
</header>
