<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2 class="fst-italic" style="color: darkgoldenrod">Virtual Money Information Webapp</h2>
            <h3 class="fw-bolder">Python DJango</h3>
            <h3 class="fw-bolder">HTML, Boostrap</h3>
                <hr>
            <p>* 기능<br>
                Bithumb의 가상화폐 정보 Datacrawling</p>
        
            <a href="http://sohyunaliciawi.pythonanywhere.com/" class="btn btn-primary btn-xl page-scroll">Link</a>
        </div>
    </div>
</header>
