<header id="header">
    <div class="header-content">
        <div class="header-content-inner">
            <h2 class="fw-bolder" style="color: darkgoldenrod">Lotto Number Generator</h2>
            <h3 class="fw-bolder">Python DJango</h3>
            <h3 class="fw-bolder">HTML, Boostrap</h3>
                <hr>
            <p>* 기능<br>
                로또 번호 무작위 6개 생성</p>
        
            <a href="http://zezeoui.pythonanywhere.com/lottonumber" class="btn btn-primary btn-xl page-scroll">Link</a>
        </div>
    </div>
</header>
