
<!-- <div class="container-sm">
<img src="img/image.png" class="img-thumbnail" alt="...">
<img src="img/image1.png" class="img-thumbnail" alt="...">
<img src="img/image2.png" class="img-thumbnail" alt="...">
<img src="img/image3.png" class="img-thumbnail" alt="...">
<img src="img/image4.png" class="img-thumbnail" alt="...">
<img src="img/image5.png" class="img-thumbnail" alt="..."></div> -->
<div class="container ml-1 mt-1" >
    <p>
<figure class="figure">
    <img src="/img/image.png" class="figure-img img-fluid rounded img-responsive" alt="...">
    <figcaption class="figure-caption fs-2">메인화면. 상단에 네비게이션바 설정.</figcaption>
</figure></p>
<figure class="figure">
    <img src="/img/image1.png" class="figure-img img-fluid rounded img-responsive" alt="...">
    <figcaption class="figure-caption border">A caption for the above image.</figcaption>
</figure>
<figure class="figure">
    <img src="/img/image2.png" class="figure-img img-fluid rounded img-responsive" alt="...">
    <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>
<figure class="figure">
    <img src="/img/image3.png" class="figure-img img-fluid rounded img-responsive" alt="...">
    <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>
<figure class="figure">
    <img src="/img/image4.png" class="figure-img img-fluid rounded img-responsive" alt="...">
    <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>
<figure class="figure">
    <img src="/img/image5.png" class="figure-img img-fluid rounded img-responsive" alt="...">
    <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>
</div>