
<!-- <div class="container-sm">
<img src="img/image.png" class="img-thumbnail" alt="...">
<img src="img/image1.png" class="img-thumbnail" alt="...">
<img src="img/image2.png" class="img-thumbnail" alt="...">
<img src="img/image3.png" class="img-thumbnail" alt="...">
<img src="img/image4.png" class="img-thumbnail" alt="...">
<img src="img/image5.png" class="img-thumbnail" alt="..."></div> -->

<div class="container">
    <div class="row">
      <div class="col">
        <img src="img/image.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col">
        text
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="img/image1.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col">
        text
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="img/image2.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col">
        text
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="img/image3.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col">
        text
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="img/image4.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col">
        text
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="img/image5.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col">
        text
      </div>
    </div>
    </div>