
<div class="portfolio-content container ml-1 mt-1" style="text-align: center;">
<p><figure class="figure" >
    <img src="/img/image.png" class="figure-img img-fluid rounded img-responsive" alt="...">
    <figcaption class="figure-caption"><h4><b>Main Page.</b><br> 상단에 네비게이션바 설정.<br>
    There is a navigation bar at the top.</h4></figcaption>
</figure></p>
<p><figure class="figure">
    <img src="/img/image1.png" class="figure-img img-fluid rounded img-responsive" alt="...">
    <figcaption class="figure-caption"><h4><b>Study Page.</b><br> Youtube 영상을 보고 배우는 내용을 메모할 수 있습니다.
        <br> You can watch a Youtube video and take note of what they have learned.
    </h4></figcaption>
</figure></p>
<p><figure class="figure">
    <img src="/img/image2.png" class="figure-img img-fluid rounded img-responsive" alt="...">
    <figcaption class="figure-caption"><h4><b>Memo Page.</b><br> 작성한 메모 목록을 확인하고 추가로 메모를 작성할 수 있습니다.
        <br>You can see the list of memos and also make a new one.</h4></figcaption>
</figure></p>
<p><figure class="figure">
    <img src="/img/image3.png" class="figure-img img-fluid rounded img-responsive" alt="...">
    <figcaption class="figure-caption"><h4><b>Inquiry Page.</b><br> 작성된 문의내용을 작성자, 날짜와 함께 확인할 수 있습니다.
    <br> You can see the list of inquiries with the information about writer and date.</h4></figcaption>
</figure></p>
<p><figure class="figure">
    <img src="/img/image4.png" class="figure-img img-fluid rounded img-responsive" alt="...">
    <figcaption class="figure-caption"><h4><b>Inquiry Writing Form.</b><br>제목, 글쓴이, 내용을 등록할 수 있습니다
    <br> You can make an inquiry with title, writer and content information.</h4></figcaption>
</figure></p>
<p><figure class="figure">
    <img src="/img/image5.png" class="figure-img img-fluid rounded img-responsive" alt="...">
    <figcaption class="figure-caption"><h4><b>Login Page.</b> <br> 로그인 화면입니다. <br> This is a Login page.</h4></figcaption>
</figure></p>
</div>