<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Keywords</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>끈기 Persistence</h3>
                    <p class="text-muted">최고의 결과물을 만들기 위한 투자를 아끼지 않습니다. I do my best to better my outcome all the time.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>책임감 Reliability</h3>
                    <p class="text-muted">고객, 동료와의 약속을 지키고 이로 인해 다져지는 신뢰를 중요하게 생각합니다. I keep my promises to the client and the colleagues and value the trust built by this.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-language wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">새로운 것에 도전하는 걸 좋아하여, 다른 언어를 배우는 것을 즐깁니다. 영어는 고급레벨로 구사하며, 프랑스어와 베트남어도 배워 기본적인 회화가 가능합니다. I like learning new things and I've practiced several languages so far. I can speak English at a very advanced level and I can speak basic French and Vietnamese too.</p>
                </div>
            </div>
        </div>
    </div>
</section>
