<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>English Learning Web App</h1>
            <hr>
            <p>영어 단어 공부 웹앱 </p>
            <p>English Vocabulary learning web app</p>
            <p>
                <p>* Java Spring MVC\n</p>
                <p>* Database : Heidi SQL(Maria DB)</p>
                <p>* 기능</p>
                <p>1. Database : DB 입력, 저장,\n 불러오기</p>
                <p>2. Security : 로그인, 회원가입</p>
                <p>* 구성</p>
                <p>1. Main Page : Navigation bar  </p>
                <p>2. Study : Youtube video, Writing Memo  </p>
                <p>3. Memo : Memo list, Writing memo </p>
                <p>4. Inquiry : Inquiry list, Writing inquiry </p>
            </p>
            <a href="/about" class="btn btn-primary btn-xl page-scroll">이력서 Resume</a>
        </div>
    </div>
</header>


<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>안녕하세요. 위소현입니다. Hello. This is Sohyun (Alicia) Wi.</h1>
            <hr>
            <p>백엔드 웹 개발자로서 첫발을 딛으려합니다. 저의 포트폴리오 및 이력에 대해 안내해드리겠습니다.</p>
            <p>I'm starting my career as a backend web developer. Let me show you my portfolio and resume.</p>
            <a href="/about" class="btn btn-primary btn-xl page-scroll">이력서 Resume</a>
        </div>
    </div>
</header>