<header>
    <div class="image-content">
        <div class="image-content-inner">
            <h1>English Learning Web App</h1>
            <hr>
            <p>영어 단어 공부 웹앱 <br>
                English Vocabulary learning web app</p>
            
            <p>* Java Spring MVC<br>
                * Database : Heidi SQL(Maria DB)</p>
            <p>* 기능<br>
                1. Database : DB 입력, 저장,\n 불러오기<br>
                2. Security : 로그인, 회원가입</p>
            <p>* 구성<br>
                1. Main Page : Navigation bar  <br>
                2. Study : Youtube video, Writing Memo  <br>
                3. Memo : Memo list, Writing memo <br>
                4. Inquiry : Inquiry list, Writing inquiry <br></p>
        
            <a href="/about" class="btn btn-primary btn-xl page-scroll disabled">Link</a>
        </div>
    </div>
</header>
