<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  <div class="header-content">
    <div class="header-content-inner">
        <h1>English Vocabulary Learning Web App</h1>
        <hr>
        <p>자바 MVC와 Heidi SQL을 활용해 만든 영어 단어 공부 웹앱 입니다. </p>
        <p>This is an English Vocabulary learning web app which I made using Java MVC and Heidi SQL.</p>
        <p>
            <p>* Java Spring MVC</p>
            <p>* Database : Heidi SQL(Maria DB)</p>
            <p>* 기능</p>
            <p>1. Database : DB 입력, 저장, 불러오기</p>
            <p>2. Security : 로그인, 회원가입</p>
            <p>* 구성</p>
            <p>1. Main Page : Navigation bar  </p>
            <p>2. Study : Youtube video, Writing Memo  </p>
            <p>3. Memo : Memo list, Writing memo </p>
            <p>4. Inquiry : Inquiry list, Writing inquiry </p>
        </p>
        <a href="/about" class="btn btn-primary btn-xl page-scroll">이력서 Resume</a>
    </div>
</div>
{% include call-to-action.html %}

{% include scripts.html %}
  <!-- 
  {% include services.html %}
  {% include portfolio.html %}
  {% include aside.html %}
  {% include contact.html %}
 -->
</body>

</html>